# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terragrunt
.terragrunt-cache/

# Lambda build artifacts
*.zip

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.ruff_cache/
