# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terragrunt
.terragrunt-cache/

# Build artifacts
build/

# OS files
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.pyc

# Ruff cache
.ruff_cache/
